{% extends 'base.html' %}

{%block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content"> Welcome to <span style="color:#198b90">Marketing Experts</span></h3>
        <br>
            <p style="font size: 50px">
                Marketing Experts uses face recognition technology to promote products and target advertisements
                 more efficiently.Retail stores and commertial websites can use this model to find out a customer's
                  gender using their photo.This information can be used for recommending gender specific products and provide gender
                 specefic incentives to them.The statistics given by this model are very accurate and relaible and hence can be used 
                 by companies to enhance their market penetration.
            </p>
        </div>

{% endblock  %}